<p>Dear {{ legal_name }},</p>
<br>
<p>A user has just requested a new password for your account. If it is you requested, please click the link below to reset your password. If you are not the person who requested, please ignore this email.</p>
<br>
<p>Click here: {{ url }} </p>